name: Build Multi-Arch Images

on:
  create:

jobs:
  build-amd64:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}

    name: 'Build for linux/amd64'
    runs-on: 'ubuntu-latest'

    env:
      DOCKER_REPOSITORY: 'ghcr.io/wadedesirco/test-project'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v2'

      - name: 'Login to GitHub Packages'
        uses: 'docker/login-action@v1.6.0'
        with:
          registry: 'ghcr.io'
          username: 'github'
          password: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Determine image version'
        run: |
          version_line="${{ github.ref }}"
          regex="^refs\/tags\/v(.*)$"
          [[ $version_line =~ $regex ]];
          echo "VERSION=${BASH_REMATCH[1]}" >> $GITHUB_ENV

      - name: 'Build Docker image'
        run: |
          docker build -t ${DOCKER_REPOSITORY}:${VERSION}-amd64 -f ./Dockerfile .

      - name: 'Push Docker image'
        run: |
          docker push ${DOCKER_REPOSITORY}:${VERSION}-amd64

  build-arm64:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}

    name: 'Build for linux/arm64'
    runs-on: 'ubuntu-latest'

    env:
      DOCKER_REPOSITORY: 'ghcr.io/wadedesirco/test-project'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v2'

      - name: 'Login to GitHub Packages'
        uses: 'docker/login-action@v1.6.0'
        with:
          registry: 'ghcr.io'
          username: 'github'
          password: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Determine image version'
        run: |
          version_line="${{ github.ref }}"
          regex="^refs\/tags\/v(.*)$"
          [[ $version_line =~ $regex ]];
          echo "VERSION=${BASH_REMATCH[1]}" >> $GITHUB_ENV

      - name: 'Build Docker image'
        run: |
          docker build -t ${DOCKER_REPOSITORY}:${VERSION}-arm64 -f ./docker/Dockerfile.cross.aarch64-musl .

      - name: 'Push Docker image'
        run: |
          docker push ${DOCKER_REPOSITORY}:${VERSION}-arm64

  push:
    name: 'Push multi-arch manifest'
    runs-on: 'ubuntu-latest'
    needs: [build-amd64, build-arm64]

    env:
      DOCKER_REPOSITORY: 'ghcr.io/linear-finance-test/reward-sender'

    steps:
      - name: 'Login to GitHub Packages'
        uses: 'docker/login-action@v1.6.0'
        with:
          registry: 'ghcr.io'
          username: 'github'
          password: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Determine image version'
        run: |
          version_line="${{ github.ref }}"
          regex="^refs\/tags\/v(.*)$"
          [[ $version_line =~ $regex ]];
          echo "VERSION=${BASH_REMATCH[1]}" >> $GITHUB_ENV

      - name: 'Pull Docker images'
        run: |
          docker pull ${DOCKER_REPOSITORY}:${VERSION}-amd64
          docker pull ${DOCKER_REPOSITORY}:${VERSION}-arm64

      - name: 'Push Docker image'
        run: |
          docker manifest create ${DOCKER_REPOSITORY}:${VERSION} \
            ${DOCKER_REPOSITORY}:${VERSION}-amd64 \
            ${DOCKER_REPOSITORY}:${VERSION}-arm64
          docker manifest create ${DOCKER_REPOSITORY}:latest \
            ${DOCKER_REPOSITORY}:${VERSION}-amd64 \
            ${DOCKER_REPOSITORY}:${VERSION}-arm64
          docker manifest push ${DOCKER_REPOSITORY}:${VERSION}
          docker manifest push ${DOCKER_REPOSITORY}:latest
